@{
    ViewData["Title"] = "NetCore - Gerenciador de Produtos";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<a href="@Url.Action("index", "Products")">Produtos</a>
<br/>
<a href="@Url.Action("index", "Categories")">Categorias</a>
